<div class="section">
    <div class="container" style="padding: 60px 15px">
        <div class="row">
            <div class="col-md-12">
              <h2>Delete Entry</h2>
            </div>
          </div>
      <div class="row">
        <div class="col-md-12">
          <h3>
            <strong>Verify</strong> and <strong>confirm</strong> that this is the entry you want to delete.</h3>
          <hr>
          <div>
            <h4>{{deleteEntryCtrl.entryName}}</h4>
            <h5 ng-show="deleteEntryCtrl.type">
              <strong>{{deleteEntryCtrl.type | uppercase}}</strong> ENTRY</h5>
            <h6>created by: <strong>{{deleteEntryCtrl.created.author}}</strong>, {{deleteEntryCtrl.created.date | date: 'longDate'}}</h6>
            <h6 ng-show="deleteEntryCtrl.modified.author && deleteEntryCtrl.modified.date">modified by: <strong>{{deleteEntryCtrl.modified.author}}</strong>, {{deleteEntryCtrl.modified.date | date: 'longDate'}}</h6>
            <h6 ng-show="deleteEntryCtrl.startDate">Start Date</h6>
            <p style="text-indent: 20px">{{deleteEntryCtrl.startDate | date: 'longDate'}}</p>
            <h6 ng-show="deleteEntryCtrl.endDate">End Date</h6>
            <p style="text-indent: 20px">{{deleteEntryCtrl.endDate | date: 'longDate'}}</p>
            <h6 ng-show="deleteEntryCtrl.details">Details</h6>
            <p style="text-indent: 20px">
              <ul>
                <li ng-repeat="i in deleteEntryCtrl.details">{{i}}</li>
              </ul>
            </p>
            <h6 ng-show="deleteEntryCtrl.message">Message</h6>
            <p style="text-indent: 20px">{{deleteEntryCtrl.message}}</p>
            <h6 ng-show="deleteEntryCtrl.tags">Keywords</h6>
            <p style="text-indent: 20px">
              <ul class="tags">
                <li ng-repeat="tags in deleteEntryCtrl.tags">
                  <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                    {{tags}}
                  </span>
                </li>
              </ul>
            </p>
          </div>
          <hr>
          <p class="text-right">
            <strong>Are you sure you want to delete this entry.</strong>
            <br>This action is permanent.
            <br>This action cannot be undone.
          </p>
          <div class="text-right">
            <button type="submit" ng-click="deleteEntryCtrl.deleteEntry()" class="btn btn-danger">Yes, I'm Sure!</button>
            <button type="submit" ui-sref="viewEntries({type: deleteEntryCtrl.type})"class="btn btn-default">No, Go Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>