<div class="confirm" ng-init="feedbackCtrl.confirm = true" ng-hide="feedbackCtrl.confirm">
  <h1 style="font-size: 120px;">
    <span class="glyphicon glyphicon-warning-sign"></span>
  </h1>
  <h3 class="text-center animateMe">Are you sure you want to {{feedbackCtrl.confirmationName}} this entry?</h3>
  <h5 class="text-center animateMe">This action cannot be undone.</h5>
  <br>
  <div class="btn-group">
    <a ng-if="feedbackCtrl.confirmationName == 'archive'" ng-click="feedbackCtrl.archiveEntry(feedbackCtrl.confirmationId); feedbackCtrl.confirm = true"
      class="btn btn-danger">Yes I'm Sure!</a>
    <a ng-if="feedbackCtrl.confirmationName == 'delete'" ng-click="feedbackCtrl.confirm = true; feedbackCtrl.deleteEntry(feedbackCtrl.confirmationId);"
      class="btn btn-danger">Yes I'm Sure!</a>
    <a ng-click="feedbackCtrl.confirm = true" class="btn btn-default">Close</a>
  </div>
</div>

<div class="section" style="padding: 60px 0;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <a ui-sref="main">Home</a>
          </li>
          <li class="active">
            {{feedbackCtrl.tableName}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="well well-lg">
          <h1>Feedback</h1>
          <p>This table contains all the inquiries that UBAE cannot answer. The purpose of the information contained in this
            table is to assist in maintaining the UBAE chatbot core information.</p>
          <ul>
            <li>This table would only serve as a basis for new data needed to be added or updated in the database.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h4>{{(feedbackCtrl.entryList | filter: {command: feedbackCtrl.commandType, keywords: feedbackCtrl.searchResponses, resolved:
          feedbackCtrl.resolvedType}).length}} {{feedbackCtrl.tableName}} Entries:</h4>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select ng-model="feedbackCtrl.resolvedType" name="response" ng-options="x for (x, y) in feedbackCtrl.resolvedSelect" class="form-control input-sm"
            required="required">
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select ng-model="feedbackCtrl.commandType" name="response" ng-options="x for (x, y) in feedbackCtrl.cmdSelect" class="form-control input-sm"
            required="required">
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="sr-only" for="search">Search</label>
          <input type="text" class="form-control input-sm" id="search" ng-model="feedbackCtrl.searchResponses" uib-tooltip="Search for information contained in the {{feedbackCtrl.tableName}} database. This will filter out the information as you type."
            tooltip-placement="bottom" placeholder="Search {{feedbackCtrl.tableName}} Tags">
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div ng-repeat="response in feedbackCtrl.entryList | 
        filter: { keywords: feedbackCtrl.searchResponses,
        command: feedbackCtrl.commandType,
        resolved: feedbackCtrl.resolvedType } | orderBy: '-timestamp'">
        <div class="clearfix" ng-if="$index % 2 == 0"></div>
        <div class="col-md-6">
          <div class="well">
            <a ng-click="feedbackCtrl.confirm = false; feedbackCtrl.confirmationId = response._id; feedbackCtrl.confirmationName = 'delete'"
              ng-if="response.resolved == false" class="close">&times;</a>
            <h6>Inquiry {{$index + 1}}</h6>
            <h5 class="text-right" ng-if="response.resolved == true">RESOLVED</h5>
            <h5 class="text-right">

              <a ng-click="feedbackCtrl.confirm = false; feedbackCtrl.confirmationId = response._id; feedbackCtrl.confirmationName = 'archive'"
                ng-if="response.resolved == false" href="">Mark as Resolved</a>
            </h5>
            <h6 class="text-right">{{response.timestamp | date: 'fullDate'}}
              <br>{{response.timestamp | date: 'hh:mm:ssa'}}</h6>
            <h4>
              {{response.command | uppercase}} Command Inquiry</h4>
            <p>
              <i class="fa fa-angle-right fa-fw fa-lg" style="color: crimson"></i>
              <strong>{{response.userinput}}</strong>
            </p>
            <h5>
              <i class="fa fa-tags fa-fw"></i>Keywords</h5>
            <p>
              <ul class="tags">
                <li ng-repeat="tags in response.keywords">
                  <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                    {{tags}}
                  </span>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<statusbar table-name="{{feedbackCtrl.tableName}}" table-entries="{{(feedbackCtrl.entryList | filter: 
  {command: feedbackCtrl.commandType, keywords: feedbackCtrl.searchResponses,
    resolved: feedbackCtrl.resolvedType}).length}}" action-message="{{feedbackCtrl.eventStatus}}"></statusbar>
