<div class="well well-lg">
  <h1>Events</h1>
  <div>
    <p>The event table contains events which are included in the school calendar. This table consists of data which answers
      WHEN questions.</p>
    <ul>
      <li>The variable 'name' includes the event name.</li>
      <li>The variable 'event' includes information and description of the event.</li>
      <li>The 'message' variable contains the sentence form of 'event' which will serve as UBAEs reply. Try to make it witty
        as possible as to emulate more human-like thinking.</li>
      <li>The variable 'tags' contains keywords that will be detected to determine which data UBAE will use as a response to
        the inquiry. Try to add more tags which are possible keywords.</li>
    </ul>
  </div>
</div>


<div class="container-fluid" id="response">
  <div class="alert {{eventCtrl.eventStatus.alert}}" ng-show="eventCtrl.showNotif">
    <button type="button" class="close" ng-click="eventCtrl.dismissNotif()" aria-hidden="true">&times;</button>
    <strong>{{eventCtrl.eventStatus.status}}</strong> {{eventCtrl.eventStatus.message}}
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h4>{{(eventCtrl.entryList | filter: { tags: eventCtrl.searchTags}).length}} Event Entries:</h4>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control input-sm" id="search" ng-model="eventCtrl.searchTags" uib-tooltip="Search for information contained in the {{eventCtrl.tableName}} database. This will filter out the information as you type."
          tooltip-placement="bottom" placeholder="Search {{eventCtrl.tableName}} Tags">
      </div>
    </div>
  </div>
  <hr>
  <div class="row list">
    <table class="table table-condensed table-hover fixed">
      <thead>
        <tr>
          <th ng-repeat="headers in eventCtrl.tableEntries">{{headers}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="response in eventCtrl.entryList | 
        filter: { tags: eventCtrl.searchTags }">
          <td style="width: 20px">{{$index + 1}}</td>
          <td><a ng-click="eventCtrl.getEvent(response._id)">{{response.name}}</a></td>
          <td>{{response.event}}</td>
          <td>{{response.message}}</td>
          <td>{{response.startDate | date: "shortDate"}}</td>
          <td>{{response.endDate | date: "shortDate"}}</td>
          <td style="width: 35%">
            <ul>
              <li ng-repeat="tags in response.tags">
                <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                  {{tags}}
                </span>
              </li>
            </ul>
          </td>
          <td>
            <button type="button" class="close" ng-click="eventCtrl.deleteEvent(response._id)" uib-tooltip="WARNING!!! This action will delete this entry."
              tooltip-placement="left">&times;</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>

<statusbar table-name="Event" table-entries="{{(eventCtrl.entryList | filter: 
  { tags: eventCtrl.searchTags}).length}}" action-message="{{eventCtrl.eventStatus}}"></statusbar>
