<div id="main-sideform">
    <form role="form" name="eventForm" novalidate>
      <h3>{{eventCtrl.dataInfo.name}}</h3>
      <h5>
        <span ng-show="eventCtrl.entryID != ''">Update Entry</span>
        <span ng-show="eventCtrl.entryID == ''">Add Entry</span>
      </h5>
      <hr>
  
      <div class="form-group">
        <label for="name">Event Details</label>
        <input type="text" ng-model="eventCtrl.name" class="form-control" name="name" id="name" placeholder="Name" required="required">
        <span style="color: crimson;" ng-show="eventForm.name.$touched && eventForm.name.$invalid">Name is required.</span>
      </div>

  
      <div class="form-group">
        <!-- <label for="info">Info</label> -->
        <!-- <input type="text" class="form-control" id="" placeholder="Information"> -->
        <textarea name="info" ng-model="eventCtrl.details" id="info" placeholder="Information" class="form-control" rows="3" style="resize: none;"
          required="required"></textarea>
        <span style="color: crimson;" ng-show="eventForm.info.$touched && eventForm.info.$invalid">Info about the entry is required.</span>
      </div>

      <div class="form-group">
        <!-- <label for="startDate">Start Date</label> -->
        <input type="text" name="startDate" ng-model="eventCtrl.startDate" uib-datepicker-popup="{{'MM/dd/yyyy'}}" class="form-control" id="startDate" placeholder="Start Date Ex. 04/20/2017" required="required">
        <span style="color: crimson;" ng-show="eventForm.startDate.$touched && eventForm.startDate.$invalid">Enter a valid date. Follow the format.</span>
      </div>

      <div class="form-group">
        <!-- <label for="endDate">End Date</label> -->
        <input type="text" name="endDate" ng-model="eventCtrl.endDate" uib-datepicker-popup="{{'MM/dd/yyyy'}}" class="form-control" id="endDate" placeholder="End Date Ex. 04/20/2017" required="required">
        <span style="color: crimson;" ng-show="eventForm.endDate.$touched && eventForm.endDate.$invalid">Enter a valid date. Follow the format.</span>
      </div>

      <span ng-show="eventCtrl.startDate > eventCtrl.endDate">The end date must be later than the start date.</span>
  
      <div class="form-group">
        <label for="message">Message</label>
        <!-- <input type="text" class="form-control" id="" placeholder="Message"> -->
        <textarea name="message" ng-model="eventCtrl.message" id="message" placeholder="Message" class="form-control" rows="3" style="resize: none;" required="required"></textarea>
        <span style="color: crimson;" ng-show="eventForm.message.$touched && eventForm.message.$invalid">Message is required.</span>
      </div>
  
      <div class="form-group">
        <label for="tags">Tags</label>
        <textarea name="tags" ng-model="eventCtrl.tags" id="tags" placeholder="Tags" class="form-control" rows="2" style="resize: none;" required="required"></textarea>
        <span style="color: crimson;" ng-show="eventForm.tags.$touched && eventForm.tags.$invalid">Tags is required.</span>
      </div>
  
      <button type="submit" ng-click="eventCtrl.saveEntry()" ng-disabled="eventForm.$invalid" class="btn btn-block btn-default">Submit</button>
      <button type="submit" ng-click="eventCtrl.resetForm()" class="btn btn-block btn-default">Reset</button>
    </form>
  
</div>

<div id="main-entries">

<div uib-alert style="background-color: #EEEEEE;" ng-show="eventCtrl.dataInfo.show" close="eventCtrl.closeDataInfo()">
  <div>
    <h1>{{eventCtrl.dataInfo.name}}</h1>
    <p>{{eventCtrl.dataInfo.info}}</p>
    <ul>
      <li ng-repeat="entry in eventCtrl.dataInfo.guide">{{entry}}</li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="response">
  <div class="row">
    <div class="col-sm-7">
      <h4>{{(eventCtrl.entryList | filter: { tags: eventCtrl.searchTags, active: eventCtrl.filter.archive.selected }).length}}
        {{eventCtrl.dataInfo.name}} Entries:</h4>
    </div>
    <div class="col-sm-2">
      <!-- <div class="form-group">
        <select ng-model="eventCtrl.filter.archive.selected" name="response" ng-options="x for (x, y) in eventCtrl.filter.archive.options"
          class="form-control input-sm" required="required">
            </select>
      </div> -->
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control input-sm" id="search" ng-model="eventCtrl.searchTags" uib-tooltip="Search for information contained in the {{eventCtrl.tableName}} database. This will filter out the information as you type."
          tooltip-placement="bottom" placeholder="Search {{eventCtrl.dataInfo.name}} Tags">
      </div>
    </div>
  </div>

  <hr>

  <div class="row list">

      <uib-tabset active="active">
          <uib-tab index="0" heading="Active" ng-click="eventCtrl.filter.archive.selected = 'true'">
              <table class="table table-condensed table-hover fixed">
                  <thead>
                    <tr>
                      <th ng-repeat="headers in eventCtrl.dataInfo.table">{{headers}}</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="entries in eventCtrl.entryList | 
                      filter: { tags: eventCtrl.searchTags, active: 'true' }">
                      <td style="width: 20px">{{$index + 1}}</td>
                      <td><a href="" ng-click="eventCtrl.getEntry(entries._id)"
                        uib-popover="{{entries.event}}"
                        popover-title="{{entries.name}}"
                        popover-trigger="'mouseenter'"
                        type="button">{{entries.name}}</a></td>
                      <!-- <td>{{entries.event}}</td> -->
                      <td>{{entries.startDate | date: "shortDate"}}</td>
                      <td>{{entries.endDate | date: "shortDate"}}</td>
                      <td>{{entries.message}}</td>
                      <td style="width: 35%">
                        <ul>
                          <li ng-repeat="tags in entries.tags">
                            <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                                {{tags}}
                              </span>
                          </li>
                        </ul>
                      </td>
                      <td>
                        <button type="button" ng-show="entries.active == false" class="close" ng-click="eventCtrl.unarchiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
                        tooltip-placement="left">R</button></td>
                      <td>
                        <button type="button" ng-show="entries.active == true" class="close" ng-click="eventCtrl.archiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will archive this entry."
                          tooltip-placement="left">A</button>
                        <button type="button" ng-show="entries.active == false" class="close" ng-click="eventCtrl.deleteEntry(entries._id)" uib-tooltip="WARNING!!! This action will delete this entry."
                          tooltip-placement="left">D</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </uib-tab>
          <uib-tab index="1" heading="Archived" 
            ng-click="eventCtrl.filter.archive.selected = 'false'" select="eventCtrl.alertMe('This table contains archived data that you can restore.')">
            <table class="table table-condensed table-hover fixed">
                <thead>
                  <tr>
                    <th ng-repeat="headers in eventCtrl.dataInfo.table">{{headers}}</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="entries in eventCtrl.entryList | 
                    filter: { tags: eventCtrl.searchTags, active: 'false' }">
                    <td style="width: 20px">{{$index + 1}}</td>
                    <td><a href="" ng-click="eventCtrl.getEntry(entries._id)"
                      uib-popover="{{entries.event}}"
                      popover-title="{{entries.name}}"
                      popover-trigger="'mouseenter'"
                      type="button">{{entries.name}}</a></td>
                    <!-- <td>{{entries.event}}</td> -->
                    <td>{{entries.startDate | date: "shortDate"}}</td>
                    <td>{{entries.endDate | date: "shortDate"}}</td>
                    <td>{{entries.message}}</td>
                    <td style="width: 35%">
                      <ul>
                        <li ng-repeat="tags in entries.tags">
                          <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                              {{tags}}
                            </span>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <button type="button" ng-show="entries.active == false" class="close" ng-click="eventCtrl.unarchiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
                      tooltip-placement="left">R</button></td>
                    <td>
                      <button type="button" ng-show="entries.active == true" class="close" ng-click="eventCtrl.archiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will archive this entry."
                        tooltip-placement="left">A</button>
                      <button type="button" ng-show="entries.active == false" class="close" ng-click="eventCtrl.deleteEntry(entries._id)" uib-tooltip="WARNING!!! This action will delete this entry."
                        tooltip-placement="left">D</button>
                    </td>
                  </tr>
                </tbody>
              </table>

          </uib-tab>
        </uib-tabset>


    
  </div>
  <hr>
</div>

<statusbar 
  style="margin-left: 300px;"
  table-name="{{eventCtrl.dataInfo.name}}" 
  table-entries="{{(eventCtrl.entryList | filter: { tags: eventCtrl.searchTags, active: eventCtrl.filter.archive.selected }).length}}" 
  action-message="{{eventCtrl.eventStatus}}"></statusbar>
</div>