$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

 .main {
  //  padding-top: 80px;
   margin: 0 10px;
 }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'account/login/login';
@import 'admin/admin';
@import 'development/development';
@import 'event/event';
@import 'feedback/feedback';
@import 'information/information';
@import 'instruction/instruction';
@import 'location/location';
@import 'main/main';
@import 'provider/provider';
@import 'response/response';
@import 'ubae/ubae';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/sidenav/sidenav';
@import '../components/statusbar/statusbar';
/* endinject */
