<div class="subnav" ng-show="$ctrl.isLoggedIn()">
  <!-- <a><img src="../../assets/images/ubae.svg" class="nav-brand"></a> -->
  <a ng-repeat="item in $ctrl.menu" ui-sref-active="active" ui-sref="{{item.state}}">{{item.title}}</a>
  <a ng-show="$ctrl.isAdmin()" ui-sref-active="active" ui-sref="admin">Accounts</a>
  <a ng-hide="$ctrl.isLoggedIn()" style="float:right;" ui-sref="login" ui-sref-active="active">Login</a>
  <a ng-show="$ctrl.isLoggedIn()" style="float:right;" ui-sref="logout">Logout</a>
  <a ng-show="$ctrl.isLoggedIn()" style="float:right;" ui-sref="settings" ui-sref-active="active">{{ $ctrl.getCurrentUser().name }}</a>
  <!-- <a ng-hide="$ctrl.isLoggedIn()" style="float:right;" ui-sref="signup" ui-sref-active="active">Sign up</a> -->
</div>