$nav-color: #eee;
$nav-height: 40px;

/* Add a background color to the top navigation */

.subnav {
  background-color: $nav-color;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.subnav a {
  float: left;
  display: block;
  color: #222;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */

.subnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

.subnav a.active {
  background-color: crimson;
  color: $nav-color;
}

// /* Small Devices, Tablets */
// @media only screen and (min-width : 768px) {	
// }
// /* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) {
// }
// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {
// }
