<div  class="confirm" ng-init="$ctrl.confirm = true" ng-hide="$ctrl.confirm">
  <h1 style="font-size: 120px;"><span class="glyphicon glyphicon-warning-sign"></span></h1>
  <h3>Are you sure you want to delete this entry?</h3>
  <h5>This action will permanently delete this entry. It cannot be undone.</h5>
  <br>
  <div class="btn-group">
      <a ng-click="$ctrl.confirm = true" class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-click="$ctrl.confirm = true" class="btn btn-default">Close</a>
    </div>
</div>




<div id="main">
    <h2><a href="" ng-click="$ctrl.confirm = false">Confirm</a></h2>
  <h2><a href="" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">Table Name</a></h2>

  <div uib-collapse="$ctrl.isCollapsed">
    <div class="bottom-form">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-11 input">
            <h4 style="color:white;">Add/Edit/Details View</h4>
          </div>
          <div class="col-xs-1 input">
            <button type="button" uib-popover="This action will reset and close this window." popover-trigger="'mouseenter'" popover-popup-delay="500"
              popover-placement="left" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="close">&times;</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 input">
            <div class="input-group">
              <div class="input-group-addon">Name</div>
              <input type="text" class="form-control" popover-title="Name" uib-popover="The variable 'name' includes office names, department names, programs offered, services offered and scholarships"
                popover-popup-delay="500" popover-trigger="'mouseenter'" popover-placement="bottom-left" placeholder="Entry Name">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 input">
            <label for="name" style="color:white;">Details</label>
            <textarea name="" id="input${1/(\w+)/\u\1/g}" popover-title="Details" uib-popover="I appeared on mouse enter!" popover-popup-delay="500"
              popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Information" rows="3" style="resize: none;"
              required="required"></textarea>
          </div>
          <div class="col-sm-4 input">
            <label for="name" style="color:white;">Message</label>
            <textarea name="" id="input${1/(\w+)/\u\1/g}" popover-title="Message" uib-popover="I appeared on mouse enter!" popover-popup-delay="500"
              popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Message" rows="3" style="resize: none;"
              required="required"></textarea>
          </div>
          <div class="col-sm-4 input">
            <label for="name" style="color:white;">Keywords</label>
            <textarea name="" id="input${1/(\w+)/\u\1/g}" popover-title="Keywords" uib-popover="I appeared on mouse enter!" popover-popup-delay="500"
              popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Keywords" rows="3" style="resize: none;"
              required="required"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4 input">
            
            <div class="btn-group btn-group-justified">
              <a class="btn btn-warning">Save</a>
              <a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="btn btn-default">Reset</a>
              <a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="btn btn-default">Close</a>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <h4>Table Entries</h4>
  <hr>
  <uib-tabset active="active">
    <uib-tab index="1">
      <uib-tab-heading>
        Alert! <span class="badge">10</span>
      </uib-tab-heading>

      <div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Message</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Entry Name</td>
              <td>Entry Message</td>
              <td>Entry Tags</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Entry Name</td>
              <td>Entry Message</td>
              <td>Entry Tags</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Entry Name</td>
              <td>Entry Message</td>
              <td>Entry Tags</td>
            </tr>
          </tbody>
        </table>

      </div>

    </uib-tab>

  </uib-tabset>


</div>

<uib-progress>
  <uib-bar value="50" type="information">
    <span>{{50}}%</span>
  </uib-bar>
  <uib-bar value="100" type="instructions">
      <span>{{100}}%</span>
    </uib-bar>
</uib-progress>

<statusbar 
  table-name="{{informationCtrl.dataInfo.name}}" 
  table-entries="{{(informationCtrl.entryList | filter: { tags: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected }).length}}" 
  action-message="{{informationCtrl.eventStatus}}"></statusbar>
</div>