<div id="main-sideform">
    <form role="form">
      <h3>{{instructionCtrl.dataInfo.name}}</h3>
      <h5>
        <span ng-show="instructionCtrl.entryID != ''">Update Entry</span>
        <span ng-show="instructionCtrl.entryID == ''">Add Entry</span>
      </h5>
      <hr>
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ng-model="instructionCtrl.name" class="form-control" id="name" placeholder="Name" required="required">
      </div>
  
      <div class="form-group">
        <label for="info">Info</label>
        <!-- <input type="text" class="form-control" id="" placeholder="Information"> -->
        <textarea name="info" ng-model="instructionCtrl.details" id="info" placeholder="Information" class="form-control" rows="4" style="resize: none;"
          required="required"></textarea>
      </div>
  
      <div class="form-group">
        <label for="message">Message</label>
        <!-- <input type="text" class="form-control" id="" placeholder="Message"> -->
        <textarea name="message" ng-model="instructionCtrl.message" id="message" placeholder="Message" class="form-control" rows="4" style="resize: none;" required="required"></textarea>
      </div>
  
      <div class="form-group">
        <label for="tags">Tags</label>
        <textarea name="message" ng-model="instructionCtrl.tags" id="tags" placeholder="Tags" class="form-control" rows="4" style="resize: none;" required="required"></textarea>
      </div>
  
      <button type="submit" ng-click="instructionCtrl.saveEntry()" class="btn btn-block btn-default">Submit</button>
      <button type="submit" ng-click="instructionCtrl.resetForm()" class="btn btn-block btn-default">Reset</button>
    </form>
  
</div>

<div id="main-entries">

<div uib-alert style="background-color: #EEEEEE;" ng-show="instructionCtrl.dataInfo.show" close="instructionCtrl.closeDataInfo()">
  <div>
    <h1>{{instructionCtrl.dataInfo.name}}</h1>
    <p>{{instructionCtrl.dataInfo.info}}</p>
    <ul>
      <li ng-repeat="entry in instructionCtrl.dataInfo.guide">{{entry}}</li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="response">
  <div class="row">
    <div class="col-sm-7">
      <h4>{{(instructionCtrl.entryList | filter: { tags: instructionCtrl.searchTags, active: instructionCtrl.filter.archive.selected }).length}}
        {{instructionCtrl.dataInfo.name}} Entries:</h4>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <select ng-model="instructionCtrl.filter.archive.selected" name="response" ng-options="x for (x, y) in instructionCtrl.filter.archive.options"
          class="form-control input-sm" required="required">
            </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control input-sm" id="search" ng-model="instructionCtrl.searchTags" uib-tooltip="Search for information contained in the {{instructionCtrl.tableName}} database. This will filter out the information as you type."
          tooltip-placement="bottom" placeholder="Search {{instructionCtrl.dataInfo.name}} Tags">
      </div>
    </div>
  </div>

  <hr>

  <div class="row list">
    <table class="table table-condensed table-hover fixed">
      <thead>
        <tr>
          <th ng-repeat="headers in instructionCtrl.dataInfo.table">{{headers}}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entries in instructionCtrl.entryList | 
          filter: { tags: instructionCtrl.searchTags, active: instructionCtrl.filter.archive.selected }">
          <td style="width: 20px">{{$index + 1}}</td>
          <td><a href="" ng-click="instructionCtrl.getEntry(entries._id)">{{entries.name}}</a></td>
          <td><p ng-repeat="steps in entries.process">{{steps}}</p></td>
          <td>{{entries.message}}</td>
          <td style="width: 35%">
            <ul>
              <li ng-repeat="tags in entries.tags">
                <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                    {{tags}}
                  </span>
              </li>
            </ul>
          </td>
          <td>
            <button type="button" ng-show="entries.active == false" class="close" ng-click="instructionCtrl.unarchiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
            tooltip-placement="left">R</button></td>
          <td>
            <button type="button" ng-show="entries.active == true" class="close" ng-click="instructionCtrl.archiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will archive this entry."
              tooltip-placement="left">A</button>
            <button type="button" ng-show="entries.active == false" class="close" ng-click="instructionCtrl.deleteEntry(entries._id)" uib-tooltip="WARNING!!! This action will delete this entry."
              tooltip-placement="left">D</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>

<statusbar 
  style="margin-left: 300px;"
  table-name="{{instructionCtrl.dataInfo.name}}" 
  table-entries="{{(instructionCtrl.entryList | filter: { tags: instructionCtrl.searchTags, active: instructionCtrl.archived }).length}}" 
  action-message="{{instructionCtrl.eventStatus}}"></statusbar>
</div>