<div class="section">
  <div class="container" style="padding-top: 60px;">
    <div class="row">
      <div class="col-md-12">
        <h2>New Entry</h2>
      </div>
    </div>
    <div class="row" style="padding-bottom:30px;">
      <div class="col-md-6" ng-hide="createEntryCtrl.stepOne">
        <h3>
          <strong>Step 1. </strong>Fill in necessary information.</h3>
        <hr>
        <form id="newEntry" name="newEntry" novalidate>
          <div class="form-group" ng-class="{ 'has-success': newEntry.entryName.$valid && newEntry.entryName.$touched,
                    'has-error': newEntry.entryName.$invalid && newEntry.entryName.$touched }">
            <label class="control-label" for="entryName">Name</label>
            <input class="form-control" id="entryName" placeholder="Enter the name of this entry." ng-model="createEntryCtrl.entryName"
              name="entryName" type="text" required>
            <p class="help-block">This must contain a name that is related to the information contained in this entry.</p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': newEntry.type.$valid && newEntry.type.$touched,
              'has-error': newEntry.type.$invalid && newEntry.type.$touched }">
            <label class="control-label" for="type">Type</label>
            <select name="type" id="type" class="form-control" ng-model="createEntryCtrl.type" ng-options="x for (x, y) in createEntryCtrl.typeSelect"
              required="required">
            </select>
            <p class="help-block">This would be the classification of this entry.</p>
          </div>
          <div class="form-group" ng-if="createEntryCtrl.type === 'WHEN'" ng-class="{ 'has-success': newEntry.startDate.$valid && newEntry.startDate.$touched,
                'has-error': newEntry.startDate.$invalid && newEntry.startDate.$touched }">
            <label class="control-label" for="startDate">Start Date</label>
            <div class="input-group">
              <input type="text" id="startDate" name="startDate" class="form-control" uib-datepicker-popup="longDate" datepicker-options="createEntryCtrl.startDatePicker.datepickerOptions"
                placeholder="Start Date Ex. 04/20/2017" ng-model="createEntryCtrl.startDate" is-open="createEntryCtrl.startDatePicker.isDatepickerOpen"
                ng-required="true" close-text="Close" alt-input-formats="createEntryCtrl.altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="createEntryCtrl.startDatePicker.isDatepickerOpen = !createEntryCtrl.startDatePicker.isDatepickerOpen">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
            <p class="help-block">This must contain the start date of this entry.
              <br>**The start date must not be earlier than the date today.</p>
          </div>
          <div class="form-group" ng-if="createEntryCtrl.type === 'WHEN'" ng-class="{ 'has-success': newEntry.endDate.$valid && newEntry.endDate.$touched,
                'has-error': newEntry.endDate.$invalid && newEntry.endDate.$touched }">
            <label class="control-label" for="endDate">End Date</label>
            <div class="input-group">
              <input type="text" id="endDate" name="endDate" class="form-control" uib-datepicker-popup="longDate" datepicker-options="createEntryCtrl.endDatePicker.datepickerOptions"
                placeholder="Start Date Ex. 04/20/2017" ng-model="createEntryCtrl.endDate" is-open="createEntryCtrl.endDatePicker.isDatepickerOpen"
                ng-required="true" close-text="Close" alt-input-formats="createEntryCtrl.altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="createEntryCtrl.endDatePicker.isDatepickerOpen = !createEntryCtrl.endDatePicker.isDatepickerOpen">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
            <p class="help-block">This must contain the end date of this entry.
              <br>**The end date must not be earlier than the start date.</p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': newEntry.details.$valid && newEntry.details.$touched, 'has-error': newEntry.details.$invalid && newEntry.details.$touched }">
            <label class="control-label" for="details">Details</label>
            <textarea name="details" style="resize: none;" placeholder="Separate the details using a 'comma'. Ex. Detail 1, Detail 2, Detail 3"
              ng-model="createEntryCtrl.details" id="details" class="form-control" rows="6" required></textarea>
            <p class="help-block">This must contain additional information that would help describe this entry.</p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': newEntry.message.$valid && newEntry.message.$touched, 'has-error': newEntry.message.$invalid && newEntry.message.$touched }">
            <label class="control-label" for="message">Message</label>
            <textarea name="message" style="resize: none;" placeholder="Enter a message UBAE will use to respond when this entry is searched."
              ng-model="createEntryCtrl.message" id="message" class="form-control" rows="6" required></textarea>
            <p class="help-block">This must contain that UBAE would use to respond if this entry is searched.</p>
          </div>
          <div class="form-group" ng-class="{ 'has-success': newEntry.tags.$valid && newEntry.tags.$dirty, 'has-error': newEntry.tags.$invalid && newEntry.tags.$dirty }">
            <label class="control-label" for="tags">Keywords</label>
            <textarea name="tags" style="resize: none;" placeholder="Separate the tags using a 'comma'. Ex. tag 1, tag 2, tag 3" ng-model="createEntryCtrl.tags"
              id="tags" class="form-control" rows="6" required></textarea>
            <p class="help-block">This must contain keywords that best describe this entry.
              <br>**This is important when UBAE is searching for an information.
            </p>
          </div>
          <hr>
          <div class="text-right">
            <!-- <button type="submit" ng-click="createEntryCtrl.createEntry(newEntry)" ng-show="newEntry.$valid" class="btn btn-danger">Submit</button> -->
            <button type="submit" ng-click="createEntryCtrl.stepThree = true; createEntryCtrl.stepOne = true; createEntryCtrl.stepTwo = false"
              ng-show="newEntry.$valid" class="btn btn-danger">Submit</button>
            <button type="submit" ng-click="createEntryCtrl.resetForm()" class="btn btn-default">Reset</button>
            <!-- <button type="submit" ng-click="createEntryCtrl.stepTwo = false" class="btn btn-default">Cancel</button> -->
          </div>
        </form>
      </div>
      <div class="col-md-12" ng-show="createEntryCtrl.stepThree">
        <h3>
          <strong>Step 2. </strong>Verify and confirm all the information.</h3>
        <hr>
        <div>
          <h4>{{createEntryCtrl.entryName}}</h4>
          <h5 ng-show="createEntryCtrl.type">
            <strong>{{createEntryCtrl.type}}</strong> ENTRY</h5>
          <h5>{{createEntryCtrl.now | date: 'fullDate'}}</h5>
          <h6>by: {{createEntryCtrl.currentUser}}</h6>
          <h6 ng-show="createEntryCtrl.startDate">Start Date</h6>
          <p style="text-indent: 20px">{{createEntryCtrl.startDate | date: 'longDate'}}</p>
          <h6 ng-show="createEntryCtrl.endDate">End Date</h6>
          <p style="text-indent: 20px">{{createEntryCtrl.endDate | date: 'longDate'}}</p>
          <h6 ng-show="createEntryCtrl.details">Details</h6>
          <p style="text-indent: 20px">{{createEntryCtrl.details}}</p>
          <h6 ng-show="createEntryCtrl.message">Message</h6>
          <p style="text-indent: 20px">{{createEntryCtrl.message}}</p>
          <h6 ng-show="createEntryCtrl.tags">Keywords</h6>
          <p style="text-indent: 20px">{{createEntryCtrl.tags}}</p>
        </div>
        <hr>
        <p class="text-right">
          <strong>Are you sure you want to save this entry. </strong>
          <br>Please make sure that all the details are correct.
          <br>This action cannot be undone.
        </p>
        <div class="text-right">
          <button type="submit" ng-click="createEntryCtrl.createEntry(newEntry)" ng-show="newEntry.$valid" class="btn btn-danger">Yes, I'm Sure!</button>
          <button type="submit" ng-click="createEntryCtrl.stepThree = false; createEntryCtrl.stepOne = false; createEntryCtrl.stepTwo = true"
            class="btn btn-default">No, Go Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
