#prompt {
	// width: 100vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	// display: inline-block;
	// vertical-align: middle;
	// float: none;
	// position: relative;
}
