.background-image {
  background-position: center;
  background-size: cover;
  background-image: url('../assets/images/backgrounds/7123.jpg');
}

.background-image-fixed {
  background-attachment: fixed;
}