<div class="confirm" ng-init="informationCtrl.confirm = true" ng-hide="informationCtrl.confirm">
    <h1 style="font-size: 120px;">
      <span class="glyphicon glyphicon-warning-sign"></span>
    </h1>
    <h3 class="animateMe">Are you sure you want to {{informationCtrl.confirmationName}} this entry?</h3>
    <h5 class="animateMe">This action cannot be undone.</h5>
    <br>
    <div class="btn-group">
      <a ng-if="informationCtrl.confirmationName == 'archive'" ng-click="informationCtrl.archiveEntry(informationCtrl.confirmationId); informationCtrl.confirm = true"
        class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-if="informationCtrl.confirmationName == 'delete'" ng-click="informationCtrl.deleteEntry(informationCtrl.confirmationId); informationCtrl.confirm = true"
        class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-if="informationCtrl.confirmationName == 'restore'" ng-click="informationCtrl.unarchiveEntry(informationCtrl.confirmationId); informationCtrl.confirm = true"
        class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-click="informationCtrl.confirm = true" class="btn btn-default">Close</a>
    </div>
  </div>
  
  <div class="section" style="padding: 50px 0;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li>
              <a ui-sref="main">Home</a>
            </li>
            <li class="active">
              {{informationCtrl.dataInfo.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div uib-alert style="background-color: #EEEEEE;" ng-show="informationCtrl.dataInfo.show" close="informationCtrl.closeDataInfo()">
            <h1>{{informationCtrl.dataInfo.name}}</h1>
            <p>{{informationCtrl.dataInfo.info}}</p>
            <ul>
              <li ng-repeat="entry in informationCtrl.dataInfo.guide">{{entry}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" uib-collapse="!informationCtrl.isCollapsed">
      <form role="form" name="informationForm" novalidate>
        <div class="row">
          <div class="col-md-12">
            <h3>Add/Edit Entry</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label" for="name">Name</label>
              <input type="text" name="name" ng-model="informationCtrl.name" class="form-control" popover-title="Name" uib-popover="The variable 'name' includes office names, department names, programs offered, services offered and scholarships"
                popover-popup-delay="1500" popover-trigger="'mouseenter'" popover-placement="bottom-left" placeholder="Entry Name"
                required>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="informationForm.name.$invalid && informationForm.name.$touched">
                Please enter a valid name.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="details">Details</label>
              <textarea name="details" ng-model="informationCtrl.details" id="input${1/(\w+)/\u\1/g}" popover-title="Details" uib-popover="The variable 'details' contains the description of data."
                popover-popup-delay="1500" popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Information"
                rows="3" style="resize: none;" required></textarea>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="informationForm.details.$invalid && informationForm.details.$touched">
                Please enter valid details for this entry.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="message">Message</label>
              <textarea name="message" ng-model="informationCtrl.message" id="input${1/(\w+)/\u\1/g}" popover-title="Message" uib-popover="The 'message' variable contains the sentence form of 'info' which will serve as UBAEs reply. Try to make it witty as possible as to emulate more human-like thinking."
                popover-popup-delay="1500" popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Message" rows="3"
                style="resize: none;" required></textarea>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="informationForm.message.$invalid && informationForm.message.$touched">
                Please enter a valid message for this entry.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label" for="tags">Tags</label>
              <textarea name="tags" ng-model="informationCtrl.tags" id="input${1/(\w+)/\u\1/g}" popover-title="Keywords" uib-popover="The variable 'tags' contains keywords that will be detected to determine which data UBAE will use as a response to the inquiry. Try to add more tags which are possible keywords."
                popover-popup-delay="1500" popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Keywords" rows="3"
                style="resize: none;" required></textarea>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="informationForm.tags.$invalid && informationForm.tags.$touched">
                Please enter valid tags for this entry.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-8 col-md-4">
            <label class="control-label">&nbsp;
              <span ng-show="!informationCtrl.confirmSave">Are you sure you want to proceed?</span>
            </label>
            <div class="btn-group btn-group-justified" ng-init="informationCtrl.confirmSave = true" ng-show="informationCtrl.confirmSave">
              <a ng-click="informationCtrl.confirmSave = false" ng-hide="informationForm.$invalid" class="btn btn-danger">Save</a>
              <a ng-click="informationCtrl.resetForm()" class="btn btn-warning">Reset</a>
              <a ng-click="informationCtrl.isCollapsed = false; informationCtrl.resetForm()" class="btn btn-default">Close</a>
            </div>
            <div class="btn-group btn-group-justified" ng-show="!informationCtrl.confirmSave">
              <a ng-click="informationCtrl.saveEntry(); informationCtrl.confirmSave = true" ng-hide="informationForm.$invalid" class="btn btn-danger">Confirm</a>
              <a ng-click="informationCtrl.confirmSave = true" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>{{(informationCtrl.entryList | filter: { name: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected }).length}}
            {{informationCtrl.dataInfo.name}} Entries:
            <a ng-click="informationCtrl.isCollapsed = true; informationCtrl.resetForm()" uib-popover="This action will open the create form." popover-popup-delay="1500"
              popover-trigger="'mouseenter'" popover-placement="right" class="btn btn-link" style="text-decoration: none;" href="">Create New</a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-8 col-md-4">
          <div class="form-group">
            <!-- <label class="sr-only" for="search">Search</label> -->
            <input type="text" class="form-control input-sm" id="search" ng-model="informationCtrl.searchTags" uib-tooltip="Search for information contained in the {{informationCtrl.tableName}} database. This will filter out the information as you type."
              tooltip-placement="bottom" placeholder="Search {{informationCtrl.dataInfo.name}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <uib-tabset active="informationCtrl.active">
            <uib-tab index="0" ng-click="informationCtrl.filter.archive.selected = 'true'">
              <uib-tab-heading>
                Active
                <span class="badge">{{(informationCtrl.entryList | filter: { active: 'true' }).length}}</span>
              </uib-tab-heading>
            </uib-tab>
            <uib-tab index="1" ng-click="informationCtrl.filter.archive.selected = 'false'" select="informationCtrl.alertMe('This table contains archived data that you can restore.')">
              <uib-tab-heading>
                Archived
                <span class="badge">{{(informationCtrl.entryList | filter: { active: 'false' }).length}}</span>
              </uib-tab-heading>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
      <div class="info" ng-repeat="entries in informationCtrl.entryList |
            filter: { name: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected } | limitTo: 10:(informationCtrl.currentPage-1)*10">
        <div class="row">
          <div class="col-md-12">
            <h3>{{$index + 1}}. {{entries.name}}
            </h3>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <h4>
                <i class="fa fa-fw fa-info-circle"></i>Details</h4>
              <p>{{entries.info}}</p>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <h4>
              <i class="fa fa-fw fa-envelope"></i>Message</h4>
            <p>{{entries.message}}</p>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="fa fa-fw fa-tags"></i>Keywords</h4>
            <p>
              <ul class="tags">
                <li ng-repeat="tags in entries.tags">
                  <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                    {{tags}}
                  </span>
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12 text-right">
            <div class="btn-group" ng-if="informationCtrl.filter.archive.selected == 'true'">
              <a ng-click="informationCtrl.getEntry(entries._id)" uib-tooltip="Edit {{entries.name}} Entry" tooltip-placement="top-right" class="btn btn-default">
                <i class="fa fa-fw fa-edit"></i>Edit</a>
              <a ng-click="informationCtrl.confirm = false; informationCtrl.confirmationId = entries._id; informationCtrl.confirmationName = 'archive'" uib-tooltip="WARNING!!! This action will archive this entry."
                tooltip-placement="top-right" class="btn btn-default">
                <i class="fa fa-fw fa-archive"></i>Archive</a>
            </div>
            <div class="btn-group" ng-if="informationCtrl.filter.archive.selected == 'false'">
              <a ng-click="informationCtrl.confirm = false; informationCtrl.confirmationId = entries._id; informationCtrl.confirmationName = 'restore'" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
                tooltip-placement="top-right" class="btn btn-default" draggable="true">
                <i class="fa fa-fw fa-rotate-left"></i>Restore</a>
              <a ng-click="informationCtrl.confirm = false; informationCtrl.confirmationId = entries._id; informationCtrl.confirmationName = 'delete'" uib-tooltip="WARNING!!! This action will delete this entry."
                tooltip-placement="top-right" class="btn btn-danger">
                <i class="fa fa-fw fa-trash"></i>Delete</a>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <ul uib-pagination total-items="(informationCtrl.entryList | filter: { name: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected }).length"
            ng-model="informationCtrl.currentPage" max-size="5" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
        </div>
      </div>
    </div>
  </div>
  
  <statusbar table-name="{{informationCtrl.dataInfo.name}}" table-entries="{{(informationCtrl.entryList | filter: { name: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected }).length}}"
    action-message="{{informationCtrl.eventStatus}}"></statusbar>
  