<h2><a href="" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">Table Name</a></h2>
  <div uib-collapse="$ctrl.isCollapsed">
    <div class="bottom-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-11 input">
            <h4 style="color:white;">Add/Edit/Details View</h4>
          </div>
          <div class="col-xs-1 input">
            <button type="button" uib-popover="This action will reset and close this window." popover-trigger="'mouseenter'" popover-popup-delay="500"
              popover-placement="left" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="close">&times;</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 input">
            <div class="input-group">
              <div class="input-group-addon">Name</div>
              <input type="text" class="form-control" popover-title="Name" uib-popover="The variable 'name' includes office names, department names, programs offered, services offered and scholarships"
                popover-popup-delay="500" popover-trigger="'mouseenter'" popover-placement="bottom-left" placeholder="Entry Name">
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 input">
            <label for="name" style="color:white;">Details</label>
            <textarea name="" id="input${1/(\w+)/\u\1/g}" popover-title="Details" uib-popover="I appeared on mouse enter!" popover-popup-delay="500"
              popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Information" rows="3" style="resize: none;"
              required="required"></textarea>
          </div>
          <div class="col-sm-4 input">
            <label for="name" style="color:white;">Message</label>
            <textarea name="" id="input${1/(\w+)/\u\1/g}" popover-title="Message" uib-popover="I appeared on mouse enter!" popover-popup-delay="500"
              popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Message" rows="3" style="resize: none;"
              required="required"></textarea>
          </div>
          <div class="col-sm-4 input">
            <label for="name" style="color:white;">Keywords</label>
            <textarea name="" id="input${1/(\w+)/\u\1/g}" popover-title="Keywords" uib-popover="I appeared on mouse enter!" popover-popup-delay="500"
              popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Keywords" rows="3" style="resize: none;"
              required="required"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-sm-4 input">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-warning">Save</a>
              <a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="btn btn-default">Reset</a>
              <a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="btn btn-default">Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main-sideform">
      <form role="form">
        <h3>{{informationCtrl.dataInfo.name}}</h3>
        <h5>
          <span ng-show="informationCtrl.entryID != ''">Update Entry</span>
          <span ng-show="informationCtrl.entryID == ''">Add Entry</span>
        </h5>
        <hr>
    
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" ng-model="informationCtrl.name" class="form-control" id="name" placeholder="Name" required="required">
        </div>
    
        <div class="form-group">
          <label for="info">Info</label>
          <textarea name="info" ng-model="informationCtrl.details" id="info" placeholder="Information" class="form-control" rows="4" style="resize: none;"
            required="required"></textarea>
        </div>
    
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="message" ng-model="informationCtrl.message" id="message" placeholder="Message" class="form-control" rows="4" style="resize: none;" required="required"></textarea>
        </div>
    
        <div class="form-group">
          <label for="tags">Tags</label>
          <textarea name="message" ng-model="informationCtrl.tags" id="tags" placeholder="Tags" class="form-control" rows="4" style="resize: none;" required="required"></textarea>
        </div>
    
        <button type="submit" ng-click="informationCtrl.saveEntry()" class="btn btn-block btn-default">Submit</button>
        <button type="submit" ng-click="informationCtrl.resetForm()" class="btn btn-block btn-default">Reset</button>
      </form>
    
  </div>
  
  <div id="main-entries">
  
  <div uib-alert style="background-color: #EEEEEE;" ng-show="informationCtrl.dataInfo.show" close="informationCtrl.closeDataInfo()">
    <div>
      <h1>{{informationCtrl.dataInfo.name}}</h1>
      <p>{{informationCtrl.dataInfo.info}}</p>
      <ul>
        <li ng-repeat="entry in informationCtrl.dataInfo.guide">{{entry}}</li>
      </ul>
    </div>
  </div>
  
  <div class="container-fluid" id="response">

  
    <hr>
    
    <!-- <button uib-popover-template="'popTemp.html'" 
    popover-is-open="popoverIsOpen" 
    ng-click="popoverIsOpen = !popoverIsOpen" 
    type="button" 
    class="btn btn-default">Delete</button> -->
  
    <!-- <button uib-popover-html="informationCtrl.htmlPopover"
      popover-placement="left"
      popover-is-open="popoverIsOpen" 
      ng-click="popoverIsOpen = !popoverIsOpen" 
      type="button" 
      class="btn btn-default">Delete</button> -->
  
    <div class="row list">
    <uib-tabset active="active">
      <uib-tab index="0" ng-click="informationCtrl.filter.archive.selected = 'true'">
          <uib-tab-heading>
              Active  <span class="badge">{{(informationCtrl.entryList | filter: { active: 'true' }).length}}</span>
              </uib-tab-heading>
          <table class="table table-condensed table-hover fixed">
              <thead>
                <tr>
                  <th ng-repeat="headers in informationCtrl.dataInfo.table">{{headers}}</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entries in informationCtrl.entryList |
                  filter: { tags: informationCtrl.searchTags, active: true }">
                  <td style="width: 20px">{{$index + 1}}</td>
                  <td style="width: 200px"><a 
                    href="" ng-click="informationCtrl.getEntry(entries._id)"
                    uib-popover="{{entries.info}}"
                    popover-title="{{entries.name}}"
                    popover-trigger="'mouseenter'"
                    type="button">{{entries.name}}</a></td>
                  <!-- <td>{{entries.info}}</td> -->
                  <td>{{entries.message}}</td>
                  <td style="width: 35%">
                    <ul>
                      <li ng-repeat="tags in entries.tags">
                        <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                            {{tags}}
                          </span>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <button type="button" ng-show="entries.active == false" class="close" ng-click="informationCtrl.unarchiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
                    tooltip-placement="left">R</button></td>
                  <td>
                    <button type="button" ng-show="entries.active == true" class="close" ng-click="informationCtrl.archiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will archive this entry."
                      tooltip-placement="left">A</button>
                    <button type="button" ng-show="entries.active == false" class="close" ng-click="informationCtrl.deleteEntry(entries._id)" uib-tooltip="WARNING!!! This action will delete this entry."
                      tooltip-placement="left">D</button>
                  </td>
                </tr>
              </tbody>
            </table>
      </uib-tab>
      <uib-tab index="1" 
        ng-click="informationCtrl.filter.archive.selected = 'false'" select="$ctrl.alertMe('This table contains archived data that you can restore.')">
        <uib-tab-heading>
          Archived  <span class="badge">{{(informationCtrl.entryList | filter: { active: 'false' }).length}}</span>
          </uib-tab-heading>
  
        <table class="table table-condensed table-hover fixed">
              <thead>
                <tr>
                  <th ng-repeat="headers in informationCtrl.dataInfo.table">{{headers}}</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entries in informationCtrl.entryList |
                  filter: { tags: informationCtrl.searchTags, active: false }">
                  <td style="width: 20px">{{$index + 1}}</td>
                  <td style="width: 200px"><a 
                    href="" ng-click="informationCtrl.getEntry(entries._id)"
                    uib-popover="{{entries.info}}"
                    popover-title="{{entries.name}}"
                    popover-trigger="'mouseenter'"
                    type="button">{{entries.name}}</a></td>
                  <!-- <td>{{entries.info}}</td> -->
                  <td>{{entries.message}}</td>
                  <td style="width: 35%">
                    <ul>
                      <li ng-repeat="tags in entries.tags">
                        <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                            {{tags}}
                          </span>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <button type="button" ng-show="entries.active == false" class="close" ng-click="informationCtrl.unarchiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
                    tooltip-placement="left">R</button></td>
                  <td>
                    <button type="button" ng-show="entries.active == true" class="close" ng-click="informationCtrl.archiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will archive this entry."
                      tooltip-placement="left">A</button>
                    <button type="button" ng-show="entries.active == false" class="close" ng-click="informationCtrl.deleteEntry(entries._id)" uib-tooltip="WARNING!!! This action will delete this entry."
                      tooltip-placement="left">D</button>
                  </td>
                </tr>
              </tbody>
            </table>
      </uib-tab>
    </uib-tabset>
    </div>
    <hr>
  </div>
  
  <statusbar 
    style="margin-left: 300px;"
    table-name="{{informationCtrl.dataInfo.name}}" 
    table-entries="{{(informationCtrl.entryList | filter: { tags: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected }).length}}" 
    action-message="{{informationCtrl.eventStatus}}"></statusbar>
  </div>