<div  class="confirm" ng-init="informationCtrl.confirm = true" ng-hide="informationCtrl.confirm">
    <h1 style="font-size: 120px;"><span class="glyphicon glyphicon-warning-sign"></span></h1>
    <h3 class="animateMe">Are you sure you want to {{informationCtrl.confirmationName}} this entry?</h3>
    <h5 class="animateMe">This action cannot be undone.</h5>
    <br>
    <div class="btn-group">
        <a ng-if="informationCtrl.confirmationName == 'archive'" 
        ng-click="informationCtrl.archiveEntry(informationCtrl.confirmationId); informationCtrl.confirm = true" 
        class="btn btn-danger">Yes I'm Sure!</a>
        <a ng-if="informationCtrl.confirmationName == 'delete'" 
        ng-click="informationCtrl.deleteEntry(informationCtrl.confirmationId); informationCtrl.confirm = true" 
        class="btn btn-danger">Yes I'm Sure!</a>
        <a ng-if="informationCtrl.confirmationName == 'restore'" 
        ng-click="informationCtrl.unarchiveEntry(informationCtrl.confirmationId); informationCtrl.confirm = true" 
        class="btn btn-danger">Yes I'm Sure!</a>
        <a ng-click="informationCtrl.confirm = true" class="btn btn-default">Close</a>
      </div>
</div>

<div id="main">
  <div uib-alert style="background-color: #EEEEEE;" ng-show="informationCtrl.dataInfo.show" close="informationCtrl.closeDataInfo()">
    <div>
      <h1>{{informationCtrl.dataInfo.name}}</h1>
      <p>{{informationCtrl.dataInfo.info}}</p>
      <ul>
        <li ng-repeat="entry in informationCtrl.dataInfo.guide">{{entry}}</li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h4>{{(informationCtrl.entryList | filter: { tags: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected
          }).length}} {{informationCtrl.dataInfo.name}} Entries: 
          <a ng-click="informationCtrl.isCollapsed = !informationCtrl.isCollapsed; informationCtrl.resetForm()"
          uib-popover="This action will open the create form." popover-popup-delay="500"
          popover-trigger="'mouseenter'" popover-placement="right" class="btn btn-link" style="text-decoration: none;" href="">Create New</a></h4>
      </div>
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label class="sr-only" for="search">Search</label>
          <input type="text" class="form-control input-sm" id="search" ng-model="informationCtrl.searchTags" uib-tooltip="Search for information contained in the {{informationCtrl.tableName}} database. This will filter out the information as you type."
            tooltip-placement="bottom" placeholder="Search {{informationCtrl.dataInfo.name}} Tags">
        </div>
      </div>
    </div>
    <div class="row">
      <uib-tabset active="active">
        <uib-tab index="0" ng-click="informationCtrl.filter.archive.selected = 'true'">
          <uib-tab-heading>
            Active <span class="badge">{{(informationCtrl.entryList | filter: { active: 'true' }).length}}</span>
          </uib-tab-heading>
          <table class="table table-condensed table-hover fixed">
            <thead>
              <tr>
                <th ng-repeat="headers in informationCtrl.dataInfo.table">{{headers}}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entries in informationCtrl.entryList |
                        filter: { tags: informationCtrl.searchTags, active: true }">
                <td style="width: 20px">{{$index + 1}}</td>
                <td style="width: 200px"><a href="" ng-click="informationCtrl.getEntry(entries._id)" uib-popover="{{entries.info}}" popover-title="{{entries.name}}"
                    popover-trigger="'mouseenter'" popover-placement="top-left" type="button">{{entries.name}}</a></td>
                <!-- <td>{{entries.info}}</td> -->
                <td>{{entries.message}}</td>
                <td style="width: 35%">
                  <ul class="tags">
                    <li ng-repeat="tags in entries.tags">
                      <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                        {{tags}}
                      </span>
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" ng-show="entries.active == true" class="close" ng-click="informationCtrl.confirm = false; informationCtrl.confirmationId = entries._id; informationCtrl.confirmationName = 'archive'"
                    uib-tooltip="WARNING!!! This action will archive this entry." tooltip-placement="left">A</button>
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
        <uib-tab index="1" ng-click="informationCtrl.filter.archive.selected = 'false'" select="informationCtrl.alertMe('This table contains archived data that you can restore.')">
          <uib-tab-heading>
            Archived <span class="badge">{{(informationCtrl.entryList | filter: { active: 'false' }).length}}</span>
          </uib-tab-heading>

          <table class="table table-condensed table-hover fixed">
            <thead>
              <tr>
                <th ng-repeat="headers in informationCtrl.dataInfo.table">{{headers}}</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entries in informationCtrl.entryList |
                        filter: { tags: informationCtrl.searchTags, active: false }">
                <td style="width: 20px">{{$index + 1}}</td>
                <td style="width: 200px"><a href="" ng-click="informationCtrl.getEntry(entries._id)" uib-popover="{{entries.info}}" popover-title="{{entries.name}}"
                    popover-trigger="'mouseenter'" type="button">{{entries.name}}</a></td>
                <!-- <td>{{entries.info}}</td> -->
                <td>{{entries.message}}</td>
                <td style="width: 35%">
                  <ul class="tags">
                    <li ng-repeat="tags in entries.tags">
                      <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                                  {{tags}}
                                </span>
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" ng-show="entries.active == false" class="close" ng-click="informationCtrl.confirm = false; informationCtrl.confirmationId = entries._id; informationCtrl.confirmationName = 'restore'"
                    uib-tooltip="WARNING!!! This action will restore this entry to the active list." tooltip-placement="left">R</button></td>
                <td>
                  <button type="button" ng-show="entries.active == false" class="close" ng-click="informationCtrl.confirm = false; informationCtrl.confirmationId = entries._id; informationCtrl.confirmationName = 'delete'"
                    uib-tooltip="WARNING!!! This action will delete this entry." tooltip-placement="left">D</button>
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>

<div ng-init="informationCtrl.isCollapsed = false" ng-show="informationCtrl.isCollapsed">
  <div class="bottom-form">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-11 input">
          <h4 style="color:white;">
              <span ng-show="informationCtrl.entryID != ''">Edit Existing Entry</span>
              <span ng-show="informationCtrl.entryID == ''">Create New Entry</span>
          </h4>
        </div>
        <div class="col-xs-1 input">
          <button type="button" uib-popover="This action will reset and close this window." popover-trigger="'mouseenter'" popover-popup-delay="500"
            popover-placement="left" ng-click="informationCtrl.isCollapsed = !informationCtrl.isCollapsed; informationCtrl.resetForm()" style="color: white;" class="close">&times;</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 input">
          <div class="input-group">
            <div class="input-group-addon">Name</div>
            <input type="text" ng-model="informationCtrl.name" class="form-control" popover-title="Name" uib-popover="The variable 'name' includes office names, department names, programs offered, services offered and scholarships"
              popover-popup-delay="500" popover-trigger="'mouseenter'" popover-placement="bottom-left" placeholder="Entry Name">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 input">
          <label for="details" style="color:white;">Details</label>
          <textarea name="details" ng-model="informationCtrl.details" id="input${1/(\w+)/\u\1/g}" popover-title="Details" uib-popover="The variable 'details' contains the description of data." popover-popup-delay="500"
            popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Information" rows="3" style="resize: none;"
            required="required"></textarea>
        </div>
        <div class="col-sm-4 input">
          <label for="message" style="color:white;">Message</label>
          <textarea name="message" ng-model="informationCtrl.message" id="input${1/(\w+)/\u\1/g}" popover-title="Message" uib-popover="The 'message' variable contains the sentence form of 'info' which will serve as UBAEs reply. Try to make it witty as possible as to emulate more human-like thinking." popover-popup-delay="500"
            popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Message" rows="3" style="resize: none;"
            required="required"></textarea>
        </div>
        <div class="col-sm-4 input">
          <label for="tags" style="color:white;">Keywords</label>
          <textarea name="tags" ng-model="informationCtrl.tags" id="input${1/(\w+)/\u\1/g}" popover-title="Keywords" uib-popover="The variable 'tags' contains keywords that will be detected to determine which data UBAE will use as a response to the inquiry. Try to add more tags which are possible keywords." popover-popup-delay="500"
            popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Keywords" rows="3" style="resize: none;"
            required="required"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-8 col-sm-4 input">
          <div class="btn-group btn-group-justified">
            <a ng-click="informationCtrl.saveEntry()" class="btn btn-danger">Save</a>
            <a ng-click="informationCtrl.resetForm()" class="btn btn-default">Reset</a>
            <a ng-click="informationCtrl.isCollapsed = !informationCtrl.isCollapsed; informationCtrl.resetForm()" class="btn btn-default">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<statusbar table-name="{{informationCtrl.dataInfo.name}}" table-entries="{{(informationCtrl.entryList | filter: { tags: informationCtrl.searchTags, active: informationCtrl.filter.archive.selected }).length}}"
  action-message="{{informationCtrl.eventStatus}}"></statusbar>
