<div class="confirm" ng-init="responseCtrl.confirm = true" ng-hide="responseCtrl.confirm">
  <h1 style="font-size: 120px;">
    <span class="glyphicon glyphicon-warning-sign"></span>
  </h1>
  <h3 class="text-center animateMe">Are you sure you want to {{responseCtrl.confirmationName}} this entry?</h3>
  <h5 class="text-center animateMe">This action cannot be undone.</h5>
  <br>
  <div class="btn-group">
    <a ng-if="responseCtrl.confirmationName == 'archive'" ng-click="responseCtrl.archiveEntry(responseCtrl.confirmationId); responseCtrl.confirm = true"
      class="btn btn-danger">Yes I'm Sure!</a>
    <a ng-if="responseCtrl.confirmationName == 'delete'" ng-click="responseCtrl.deleteEntry(responseCtrl.confirmationId); responseCtrl.confirm = true"
      class="btn btn-danger">Yes I'm Sure!</a>
    <a ng-if="responseCtrl.confirmationName == 'restore'" ng-click="responseCtrl.unarchiveEntry(responseCtrl.confirmationId); responseCtrl.confirm = true"
      class="btn btn-danger">Yes I'm Sure!</a>
    <a ng-click="responseCtrl.confirm = true" class="btn btn-default">Close</a>
  </div>
</div>

<div class="section" style="padding: 50px 0;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div uib-alert style="background-color: #EEEEEE;" ng-show="responseCtrl.dataInfo.show" close="responseCtrl.closeDataInfo()">
            <ul class="breadcrumb" style="background-color: transparent;">
                <li>
                  <a ui-sref="main">Home</a>
                </li>
                <li class="active">
                  {{responseCtrl.dataInfo.name}}
                </li>
              </ul>
          <h1>{{responseCtrl.dataInfo.name}}</h1>
          <p>{{responseCtrl.dataInfo.info}}</p>
          <ul>
            <li ng-repeat="entry in responseCtrl.dataInfo.guide">{{entry}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="info">
    <div class="row">
      <div class="col-md-12">
        <h4>{{(responseCtrl.entryList | filter: { message: responseCtrl.searchTags, active: responseCtrl.filter.archive.selected
          }).length}} {{responseCtrl.dataInfo.name}} Entries:
          <a ui-sref="createResponse" uib-popover="This action will open the create form."
            popover-popup-delay="1500" popover-trigger="'mouseenter'" popover-placement="right" class="btn btn-link" style="text-decoration: none;"
            href="">Create New</a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-4">
        <div class="form-group">
          <!-- <label class="sr-only" for="search">Search</label> -->
          <input type="text" class="form-control input-sm" id="search" ng-model="responseCtrl.searchTags" uib-tooltip="Search for information contained in the {{responseCtrl.tableName}} database. This will filter out the information as you type."
            tooltip-placement="bottom" placeholder="Search {{responseCtrl.dataInfo.name}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <uib-tabset active="responseCtrl.active">
          <uib-tab index="0" ng-click="responseCtrl.filter.archive.selected = 'true'">
            <uib-tab-heading>
              Active
              <span class="badge">{{(responseCtrl.entryList | filter: { active: 'true' }).length}}</span>
            </uib-tab-heading>
          </uib-tab>
          <uib-tab index="1" ng-click="responseCtrl.filter.archive.selected = 'false'" select="responseCtrl.alertMe('This table contains archived data that you can restore.')">
            <uib-tab-heading>
              Archived
              <span class="badge">{{(responseCtrl.entryList | filter: { active: 'false' }).length}}</span>
            </uib-tab-heading>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div class="info" ng-repeat="entries in responseCtrl.entryList | filter: { active: responseCtrl.filter.archive.selected, message: responseCtrl.searchTags } | limitTo: 10:(responseCtrl.currentPage-1)*10">
        <!--   -->
      <div class="row">
        <div class="col-md-12">
          <h3>Response {{$index + 1}}
          </h3>
          <h6 style="text-indent: 15px" ng-if="entries.created.author">
              <strong>by: {{entries.created.author}}</strong>,
              <span>{{entries.created.date | date: 'mediumDate'}}, {{entries.created.date | date: 'mediumTime'}}</span>
            </h6>
            <h6 style="text-indent: 15px" ng-show="entries.searched > 0">
                searched: <strong>{{entries.searched}}</strong> times
              </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>
            <i class="fa fa-fw fa-envelope"></i>Message</h4>
          <h3>
            <i class="fa fa-angle-right fa-fw fa-lg" style="color: crimson"></i>{{entries.message}}</3>
        </div>
        <div class="col-md-6">
          <h4>
            <i class="fa fa-fw fa-tags"></i>Keywords</h4>
          <p>
            <ul class="tags">
              <li ng-repeat="tags in entries.tags">
                <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                  {{tags}}
                </span>
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row" ng-show="entries.modified.date && entries.modified.author">
        <div class="col-md-12 text-right">
          <h6>Modified: {{entries.modified.date | date: 'longDate'}}, {{entries.modified.date | date: 'mediumTime'}}</h6>
          <h6 style="text-indent: 30px">by: {{entries.modified.author}}</h6>
        </div>
      </div>
      <div class="row" ng-show="entries.archived.date && entries.archived.author && responseCtrl.filter.archive.selected == 'false'">
          <div class="col-md-12 text-right">
            <h6>Archived: {{entries.archived.date | date: 'longDate'}}, {{entries.archived.date | date: 'mediumTime'}}</h6>
            <h6 style="text-indent: 30px">by: {{entries.archived.author}}</h6>
          </div>
        </div>
      <div class="row">
        <br>
        <div class="col-md-12 text-right">
          <div class="btn-group" ng-if="responseCtrl.filter.archive.selected == 'true'">
            <a ui-sref="editResponse({id: entries._id})" uib-tooltip="Edit {{entries.name}} Entry"
              tooltip-placement="top-right" class="btn btn-default">
              <i class="fa fa-fw fa-edit"></i>Edit</a>
            <a ui-sref="archiveResponse({id: entries._id})"
              uib-tooltip="WARNING!!! This action will archive this entry." tooltip-placement="top-right" class="btn btn-default">
              <i class="fa fa-fw fa-archive"></i>Archive</a>
          </div>
          <div class="btn-group" ng-if="responseCtrl.filter.archive.selected == 'false'">
            <a ui-sref="restoreResponse({id: entries._id})"
              uib-tooltip="WARNING!!! This action will restore this entry to the active list." tooltip-placement="top-right"
              class="btn btn-default" draggable="true">
              <i class="fa fa-fw fa-rotate-left"></i>Restore</a>
            <a ui-sref="deleteResponse({id: entries._id})"
              uib-tooltip="WARNING!!! This action will delete this entry." tooltip-placement="top-right" class="btn btn-danger">
              <i class="fa fa-fw fa-trash"></i>Delete</a>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="row" ng-show="(responseCtrl.entryList | filter: { message: responseCtrl.searchTags, active: responseCtrl.filter.archive.selected }).length > 10">
      <div class="col-md-12 text-center">
        <ul ng-click="responseCtrl.scrollTo('info');" uib-pagination total-items="(responseCtrl.entryList | filter: { name: responseCtrl.searchTags, active: responseCtrl.filter.archive.selected }).length"
          ng-model="responseCtrl.currentPage" max-size="5" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
      </div>
    </div>
  </div>
</div>

<statusbar table-name="{{responseCtrl.dataInfo.name}}" table-entries="{{(responseCtrl.entryList | filter: { message: responseCtrl.searchTags, active: responseCtrl.filter.archive.selected }).length}}"
  action-message="{{responseCtrl.eventStatus}}"></statusbar>
