<div class="well well-lg">
    <h1>Locations</h1>
    <div>
      <p>The location table contains the different locations in the University such as offices, departments and other notable places. This table consists of data which answers WHERE questions.</p>
      <ul>
        <li>The variable 'name' includes the name of the location.</li>
        <li>The variable 'location' includes the building name, floor, and room.</li>
        <li>The 'message' variable contains the sentence form of 'location' which will serve as UBAEs reply. Try to make it witty as possible as to emulate more human-like thinking.</li>
        <li>The variable 'tags' contains keywords that will be detected to determine which data UBAE will use as a response to the inquiry. Try to add more tags which are possible keywords.</li>
      </ul>
    </div>
  </div>

<div class="container-fluid" id="response">
  <div class="row">
    <div class="col-sm-9">
      <h4>{{(locationCtrl.entryList | filter: 
          { tags: locationCtrl.searchResponses}).length}} Location Entries:</h4>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control input-sm" id="search" ng-model="locationCtrl.searchResponses" uib-tooltip="Search for information contained in the {{locationCtrl.tableName}} database. This will filter out the information as you type."
          tooltip-placement="bottom" placeholder="Search {{locationCtrl.tableName}} Tags">
      </div>
    </div>
  </div>
  <hr>
  <div class="row list">
    <table class="table table-condensed table-hover fixed">
      <thead>
        <tr>
          <th ng-repeat="headers in locationCtrl.tableEntries">{{headers}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="response in locationCtrl.entryList | 
        filter: { tags: locationCtrl.searchResponses }">
          <td style="width: 20px">{{$index + 1}}</td>
          <td><a href="#">{{response.name}}</a></td>
          <td>{{response.location}}</td>
          <td>{{response.message}}</td>
          <td style="width: 35%">
            <ul>
              <li ng-repeat="tags in response.tags">
                <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                  {{tags}}
                </span>
              </li>
            </ul>
          </td>
          <td>
            <button type="button" class="close" ng-click="locationCtrl.deleteEvent(response._id)"
              uib-tooltip="WARNING!!! This action will delete this entry."
              tooltip-placement="left">&times;</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>

<statusbar 
  table-name="Location" 
  table-entries="{{(locationCtrl.entryList | filter: 
  { tags: locationCtrl.searchResponses}).length}}" 
  action-message="{{locationCtrl.eventStatus}}"></statusbar>