<div  class="confirm" ng-init="locationCtrl.confirm = true" ng-hide="locationCtrl.confirm">
  <h1 style="font-size: 120px;"><span class="glyphicon glyphicon-warning-sign"></span></h1>
  <h3 class="animateMe">Are you sure you want to {{locationCtrl.confirmationName}} this entry?</h3>
  <h5 class="animateMe">This action cannot be undone.</h5>
  <br>
  <div class="btn-group">
      <a ng-if="locationCtrl.confirmationName == 'archive'" 
      ng-click="locationCtrl.archiveEntry(locationCtrl.confirmationId); locationCtrl.confirm = true" 
      class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-if="locationCtrl.confirmationName == 'delete'" 
      ng-click="locationCtrl.deleteEntry(locationCtrl.confirmationId); locationCtrl.confirm = true" 
      class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-if="locationCtrl.confirmationName == 'restore'" 
      ng-click="locationCtrl.unarchiveEntry(locationCtrl.confirmationId); locationCtrl.confirm = true" 
      class="btn btn-danger">Yes I'm Sure!</a>
      <a ng-click="locationCtrl.confirm = true" class="btn btn-default">Close</a>
    </div>
</div>

<div id="main">
<div uib-alert style="background-color: #EEEEEE;" ng-show="locationCtrl.dataInfo.show" close="locationCtrl.closeDataInfo()">
  <div>
    <h1>{{locationCtrl.dataInfo.name}}</h1>
    <p>{{locationCtrl.dataInfo.info}}</p>
    <ul>
      <li ng-repeat="entry in locationCtrl.dataInfo.guide">{{entry}}</li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h4>{{(locationCtrl.entryList | filter: { tags: locationCtrl.searchTags, active: locationCtrl.filter.archive.selected
        }).length}} {{locationCtrl.dataInfo.name}} Entries: 
        <a ng-click="locationCtrl.isCollapsed = !locationCtrl.isCollapsed; locationCtrl.resetForm()"
        uib-popover="This action will open the create form." popover-popup-delay="500"
        popover-trigger="'mouseenter'" popover-placement="right" class="btn btn-link" style="text-decoration: none;" href="">Create New</a></h4>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control input-sm" id="search" ng-model="locationCtrl.searchTags" uib-tooltip="Search for information contained in the {{locationCtrl.tableName}} database. This will filter out the information as you type."
          tooltip-placement="bottom" placeholder="Search {{locationCtrl.dataInfo.name}} Tags">
      </div>
    </div>
  </div>
  <div class="row">
    <uib-tabset active="active">
      <uib-tab index="0" ng-click="locationCtrl.filter.archive.selected = 'true'">
        <uib-tab-heading>
          Active <span class="badge">{{(locationCtrl.entryList | filter: { active: 'true' }).length}}</span>
        </uib-tab-heading>
        <table class="table table-condensed table-hover fixed">
          <thead>
            <tr>
              <th ng-repeat="headers in locationCtrl.dataInfo.table">{{headers}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entries in locationCtrl.entryList |
                      filter: { tags: locationCtrl.searchTags, active: true } | limitTo: 10:(locationCtrl.currentPage-1)*10">
              <td style="width: 20px">{{$index + 1}}</td>
              <td style="width: 200px"><a href="" ng-click="locationCtrl.getEntry(entries._id)" uib-popover="{{entries.location}}" popover-title="{{entries.name}}"
                  popover-trigger="'mouseenter'" popover-placement="top-left" type="button">{{entries.name}}</a></td>
              <!-- <td>{{entries.info}}</td> -->
              <td>{{entries.message}}</td>
              <td style="width: 35%">
                <ul class="tags">
                  <li ng-repeat="tags in entries.tags">
                    <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                      {{tags}}
                    </span>
                  </li>
                </ul>
              </td>
              <td>
                <button type="button" ng-show="entries.active == true" class="close" ng-click="locationCtrl.confirm = false; locationCtrl.confirmationId = entries._id; locationCtrl.confirmationName = 'archive'"
                  uib-tooltip="WARNING!!! This action will archive this entry." tooltip-placement="left">A</button>
              </td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab index="1" ng-click="locationCtrl.filter.archive.selected = 'false'" select="locationCtrl.alertMe('This table contains archived data that you can restore.')">
        <uib-tab-heading>
          Archived <span class="badge">{{(locationCtrl.entryList | filter: { active: 'false' }).length}}</span>
        </uib-tab-heading>

        <table class="table table-condensed table-hover fixed">
          <thead>
            <tr>
              <th ng-repeat="headers in locationCtrl.dataInfo.table">{{headers}}</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entries in locationCtrl.entryList |
                      filter: { tags: locationCtrl.searchTags, active: false } | limitTo: 10:(locationCtrl.currentPage-1)*10">
              <td style="width: 20px">{{$index + 1}}</td>
              <td style="width: 200px"><a href="" ng-click="locationCtrl.getEntry(entries._id)" uib-popover="{{entries.location}}" popover-title="{{entries.name}}"
                  popover-trigger="'mouseenter'" type="button">{{entries.name}}</a></td>
              <!-- <td>{{entries.info}}</td> -->
              <td>{{entries.message}}</td>
              <td style="width: 35%">
                <ul class="tags">
                  <li ng-repeat="tags in entries.tags">
                    <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                                {{tags}}
                              </span>
                  </li>
                </ul>
              </td>
              <td>
                <button type="button" ng-show="entries.active == false" class="close" ng-click="locationCtrl.confirm = false; locationCtrl.confirmationId = entries._id; locationCtrl.confirmationName = 'restore'"
                  uib-tooltip="WARNING!!! This action will restore this entry to the active list." tooltip-placement="left">R</button></td>
              <td>
                <button type="button" ng-show="entries.active == false" class="close" ng-click="locationCtrl.confirm = false; locationCtrl.confirmationId = entries._id; locationCtrl.confirmationName = 'delete'"
                  uib-tooltip="WARNING!!! This action will delete this entry." tooltip-placement="left">D</button>
              </td>
            </tr>
          </tbody>
        </table>
      </uib-tab>
    </uib-tabset>
    <ul class="pager" uib-pager ng-model="locationCtrl.currentPage" total-items="(locationCtrl.entryList | filter: { tags: locationCtrl.searchTags, active: locationCtrl.filter.archive.selected }).length">
    </ul>
  </div>
</div>
</div>

<div ng-init="locationCtrl.isCollapsed = false" ng-show="locationCtrl.isCollapsed">
<div class="bottom-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-11 input">
        <h4 style="color:white;">
            <span ng-show="locationCtrl.entryID != ''">Edit Existing Entry</span>
            <span ng-show="locationCtrl.entryID == ''">Create New Entry</span>
        </h4>
      </div>
      <div class="col-xs-1 input">
        <button type="button" uib-popover="This action will reset and close this window." popover-trigger="'mouseenter'" popover-popup-delay="500"
          popover-placement="left" ng-click="locationCtrl.isCollapsed = !locationCtrl.isCollapsed; locationCtrl.resetForm()" style="color: white;" class="close">&times;</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 input">
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text" ng-model="locationCtrl.name" class="form-control" popover-title="Name" uib-popover="The variable 'name' includes office names, department names, programs offered, services offered and scholarships"
            popover-popup-delay="500" popover-trigger="'mouseenter'" popover-placement="bottom-left" placeholder="Entry Name">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 input">
        <label for="details" style="color:white;">Details</label>
        <textarea name="details" ng-model="locationCtrl.details" id="input${1/(\w+)/\u\1/g}" popover-title="Details" uib-popover="The variable 'details' contains the description of data." popover-popup-delay="500"
          popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Information" rows="3" style="resize: none;"
          required="required"></textarea>
      </div>
      <div class="col-sm-4 input">
        <label for="message" style="color:white;">Message</label>
        <textarea name="message" ng-model="locationCtrl.message" id="input${1/(\w+)/\u\1/g}" popover-title="Message" uib-popover="The 'message' variable contains the sentence form of 'info' which will serve as UBAEs reply. Try to make it witty as possible as to emulate more human-like thinking." popover-popup-delay="500"
          popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Message" rows="3" style="resize: none;"
          required="required"></textarea>
      </div>
      <div class="col-sm-4 input">
        <label for="tags" style="color:white;">Keywords</label>
        <textarea name="tags" ng-model="locationCtrl.tags" id="input${1/(\w+)/\u\1/g}" popover-title="Keywords" uib-popover="The variable 'tags' contains keywords that will be detected to determine which data UBAE will use as a response to the inquiry. Try to add more tags which are possible keywords." popover-popup-delay="500"
          popover-trigger="'mouseenter'" class="form-control" placeholder="Entry Keywords" rows="3" style="resize: none;"
          required="required"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-8 col-sm-4 input">
        <div class="btn-group btn-group-justified">
          <a ng-click="locationCtrl.saveEntry()" class="btn btn-danger">Save</a>
          <a ng-click="locationCtrl.resetForm()" class="btn btn-default">Reset</a>
          <a ng-click="locationCtrl.isCollapsed = !locationCtrl.isCollapsed; locationCtrl.resetForm()" class="btn btn-default">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<statusbar table-name="{{locationCtrl.dataInfo.name}}" table-entries="{{(locationCtrl.entryList | filter: { tags: locationCtrl.searchTags, active: locationCtrl.filter.archive.selected }).length}}"
action-message="{{locationCtrl.eventStatus}}"></statusbar>
