<div id="chat">
  <div class="chat-body">
    <div class="section">
      <div class="container" style="padding: 0 15px;">
        <div class="row" ng-repeat="chat in ubaeCtrl.chatData | orderBy: 'timestamp'">
          <div class="col-md-12 {{ chat.role }}">
            <h5>
              <span ng-if="chat.role == 'ubae'">U.BAE</span>
              <span ng-if="chat.role == 'user'">User</span>
            </h5>
            <h4>{{ chat.msg }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div id="here" style="padding: 50px;"></div>
  </div>
  <div class="chat-box">
    <input type="text" placeholder=">Say Hi_" ng-model="ubaeCtrl.inquiry">
    <button type="submit" ng-click="ubaeCtrl.ubaeSearch(ubaeCtrl.inquiry)">Send</button>
  </div>
</div>
