<div id="main-sideform">
    <form role="form">
      <h3>{{developmentCtrl.dataInfo.name}}</h3>
      <h5>
        <span ng-show="developmentCtrl.entryID != ''">Update Entry</span>
        <span ng-show="developmentCtrl.entryID == ''">Add Entry</span>
      </h5>
      <hr>
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ng-model="developmentCtrl.name" class="form-control" id="name" placeholder="Name" required="required">
      </div>
  
      <div class="form-group">
        <label for="info">Info</label>
        <!-- <input type="text" class="form-control" id="" placeholder="Information"> -->
        <textarea name="info" ng-model="developmentCtrl.details" id="info" placeholder="Information" class="form-control" rows="4" style="resize: none;"
          required="required"></textarea>
      </div>
  
      <div class="form-group">
        <label for="message">Message</label>
        <!-- <input type="text" class="form-control" id="" placeholder="Message"> -->
        <textarea name="message" ng-model="developmentCtrl.message" id="message" placeholder="Message" class="form-control" rows="4" style="resize: none;" required="required"></textarea>
      </div>
  
      <div class="form-group">
        <label for="tags">Tags</label>
        <textarea name="message" ng-model="developmentCtrl.tags" id="tags" placeholder="Tags" class="form-control" rows="4" style="resize: none;" required="required"></textarea>
      </div>
  
      <button type="submit" ng-click="developmentCtrl.saveEntry()" class="btn btn-block btn-default">Submit</button>
      <button type="submit" ng-click="developmentCtrl.resetForm()" class="btn btn-block btn-default">Reset</button>
    </form>
  
</div>

<div id="main-entries">

<div uib-alert style="background-color: #EEEEEE;" ng-show="developmentCtrl.dataInfo.show" close="developmentCtrl.closeDataInfo()">
  <div>
    <h1>{{developmentCtrl.dataInfo.name}}</h1>
    <p>{{developmentCtrl.dataInfo.info}}</p>
    <ul>
      <li ng-repeat="entry in developmentCtrl.dataInfo.guide">{{entry}}</li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="response">
  <div class="row">
    <div class="col-sm-7">
      <h4>{{(developmentCtrl.entryList | filter: { tags: developmentCtrl.searchTags, active: developmentCtrl.filter.archive.selected }).length}}
        {{developmentCtrl.dataInfo.name}} Entries:</h4>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <select ng-model="developmentCtrl.filter.archive.selected" name="response" ng-options="x for (x, y) in developmentCtrl.filter.archive.options"
          class="form-control input-sm" required="required">
            </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <input type="text" class="form-control input-sm" id="search" ng-model="developmentCtrl.searchTags" uib-tooltip="Search for information contained in the {{developmentCtrl.tableName}} database. This will filter out the information as you type."
          tooltip-placement="bottom" placeholder="Search {{developmentCtrl.dataInfo.name}} Tags">
      </div>
    </div>
  </div>

  <hr>

  <div class="row list">
    <table class="table table-condensed table-hover fixed">
      <thead>
        <tr>
          <th ng-repeat="headers in developmentCtrl.dataInfo.table">{{headers}}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entries in developmentCtrl.entryList | 
          filter: { tags: developmentCtrl.searchTags, active: developmentCtrl.filter.archive.selected }">
          <td style="width: 20px">{{$index + 1}}</td>
          <td><a href="" ng-click="developmentCtrl.getEntry(entries._id)">{{entries.name}}</a></td>
          <td>{{entries.details}}</td>
          <td>{{entries.message}}</td>
          <td style="width: 35%">
            <ul>
              <li ng-repeat="tags in entries.tags">
                <span class="label label-danger" uib-tooltip="{{tags}}" tooltip-placement="top">
                    {{tags}}
                  </span>
              </li>
            </ul>
          </td>
          <td>
            <button type="button" ng-show="entries.active == false" class="close" ng-click="developmentCtrl.unarchiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will restore this entry to the active list."
            tooltip-placement="left">restore</button></td>
          <td>
            <button type="button" ng-show="entries.active == true" class="close" ng-click="developmentCtrl.archiveEntry(entries._id)" uib-tooltip="WARNING!!! This action will archive this entry."
              tooltip-placement="left">archive</button>
            <button type="button" ng-show="entries.active == false" class="close" ng-click="developmentCtrl.deleteEntry(entries._id)" uib-tooltip="WARNING!!! This action will delete this entry."
              tooltip-placement="left">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
</div>

<statusbar 
  style="margin-left: 300px;"
  table-name="{{developmentCtrl.dataInfo.name}}" 
  table-entries="{{(developmentCtrl.entryList | filter: { tags: developmentCtrl.searchTags, active: developmentCtrl.archived }).length}}" 
  action-message="{{developmentCtrl.eventStatus}}"></statusbar>
</div>